body {
    background-color: aqua;
}

#container {
    background-image: url(./images/bg-pattern-desktop.svg);
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr 4fr;
    align-items: center;
}

main {
    margin: 0 10vw;
    margin-top: -12.5vh;
}

.hero-model {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.company-logo {
    margin: 5vh 10vw;
    width: 20%;
}

.coming-header {
    letter-spacing: 1.5vw;
    font-size: 4.5vw;
    text-align: left;
}

main > p {
    text-align: left;
    font-size: 1.3vw;
    line-height: 4vh;
}

form {
    height: 7vh;
}

.error-sign {
    margin: 0 1vw;
    height: 3.5vh;
}

form > button {
    padding: 0 3.25vw;
}

form > input {
    padding-left: 2vw;
}

.error-message, .success-message {
    margin-left: 2vw;
    font-size: initial;
}
